<script async src="https://umami.vofficial233.com/v.js" data-website-id="49ac6764-4916-45df-98d4-095a7f0082cb"></script>

{{if .Page.Site.Params.fancybox }}
<script src=" https://npm.elemecdn.com/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="/Fancybox/jquery.fancybox.min.css" />
<script src="/Fancybox/jquery.fancybox.min.js"></script>
{{ end }}

<meta name="google-site-verification" content="LcdvJjpiDUHO-gOHlLkddAPFlfd3yB5oV0Wc5I89-z4" />

<meta name="msvalidate.01" content="0240F438A5A3AAD02C6DA2D3FB77B06C" />

<meta name="baidu-site-verification" content="codeva-4YN4WT1BYY" />
